*.o
.deps/
COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
apinger-*.tar.gz
autom4te.cache/
cl-stamp
config.h
config.h.in
config.log
config.status
configure
depcomp
doc/FAQ.html
install-sh
missing
src/apinger
src/cfgparser1.c
src/cfgparser1.h
src/cfgparser1.output
src/cfgparser2.c
stamp-h1
ylwrap
